{% extends 'base.html' %}
{% load static %}
{% block title %}{% block title-meta %}
	گذرواژه با موفقیت تغییر یافت
{% endblock %}{% endblock %}
{% block content %}
<main class="my-5">
<div class="col-md-8 text-center mx-auto">
  <div class="card card-danger">
    <div class="card-header bg-success">
      <h3 class="card-title mb-0 float-right">پیام</h3>
    </div>
		<div class="card-body py-4 bg-light">
			<p class="text-center h3">گذرواژه با موفقیت تغییر یافت</p>
		</div>
</div>
</main>
{% endblock %}