{% extends 'base.html' %}
{% load static %}
{% block title %}{% block title-meta %}
	    ایمیل بازیابی با موفقیت ارسال شد
{% endblock %}{% endblock %}
{% block content %}
<main class="my-5">
<div class="col-md-8 text-center mx-auto">
  <div class="card card-danger">
    <div class="card-header bg-success">
      <h3 class="card-title mb-0 float-right">تقاضای ریست رمز فرستاده شد</h3>
    </div>
		<div class="card-body py-4 bg-light">
			<p class="text-center h3">دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشت باشد باید به زودی این دستورالعمل‌ها را دریافت کنید.</p>
			<p class="text-center h3">اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید.</p>
		</div>
</div>
</main>
{% endblock %}
