{% extends 'base.html' %}
{% load static %}
{% block title %}{% block title-meta %}
	    کد تایید به ایمیل شما ارسال شد.
{% endblock %}{% endblock %}
{% block content %}
<main class="my-5">
<div class="col-md-8 text-center mx-auto">
  <div class="card card-danger">
    <div class="card-header bg-primary">
      <h3 class="card-title mb-0 float-right">کد فعال سازی به حساب کاربری شما ارسال شد</h3>
    </div>
		<div class="card-body py-4 bg-light">
			<p class="text-center h3">برای تکمیل فرایند احراز هویت وارد حساب خود شوید</p>
		</div>
</div>
</main>
{% endblock %}
